.AVBTable {
  margin-top: 1.5rem;
  margin-left: 1rem;
  width: 95%;
  overflow-x: scroll;
  /* margin: 0 auto; */
}
.AVBTableHeaders {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  border-bottom: 1px solid gray;
}
.AVBTableHeaders li {
  display: flex;
  flex-basis: 10%;
  /* min-width: 50px; */
}
.AVBTableRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}
.AVBTableRow li {
  display: flex;
  flex-basis: 10%;
}
.AVBTableRow .AVBTableFig,
.AVBTableHeaders .AVBTableFig {
  justify-content: flex-end;
}
.AVBTableRow .AVBFirstCol,
.AVBTableHeaders .AVBFirstCol {
  min-width: 90px;
}
.AVBCharts {
  display: flex;
  flex-direction: row;
}
.AVBChart {
  display: flex;
  width: 49%;
}
.AVBGroupEnd {
  margin-right: 5rem;
}
