.positionreport {
  overflow: auto;
  height: 100%;
}
.positionreporttitle {
  font-family: "Roboto", sans-serif;
  color: rgb(68, 65, 162);
}
#positionreporttable {
  margin-top: 0.5rem;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
}

#positionreporttable td {
  padding-right: 3.5rem;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-left: 0.1rem;
  font-family: "Roboto", sans-serif;

  /* background-color: white; */
}
#positionreporttable th {
  padding-right: 3rem;
  font-size: 0.9rem;
  border: none;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.fig {
  text-align: right;
}
#positionreporttable tr:hover {
  background-color: #ddeaf9;
  cursor: pointer;
}
#positionreporttable .totals {
  border-top: 1px solid black;
  height: 2rem;
  vertical-align: top;
}
.prodgroup {
  background-color: rgb(160, 182, 103);
  color: white;
}
.product {
  /* background-color: rgb(228, 236, 204); */
}
.positionreporttitleline {
  display: flex;
}
