.profitabilityreport {
  height: 100%;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
.profitabilityreport p {
  font-size: 0.8rem;
}

.profitabilityreportline {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profitabilityreportcolumn {
  display: flex;
  flex-basis: 20%;
}
.prfig {
  text-align: right;
  width: 100px;
  display: inline-block;
  padding-right: 3rem;
}
.prtotal {
  font-weight: bold;
  margin-top: 1rem;
}
.prheader {
  position: sticky;
  top: 0;
  font-weight: bold;
  border-bottom: 1px solid rgb(68, 65, 162);
  margin-bottom: 0.5rem;
  background-color: white;
}
.prmonth {
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  /* margin-top: 0.5rem; */
  top: 19px;
  font-size: 0.9rem;
  width: 100%;
  border-bottom: 1px solid rgb(68, 65, 162);
}
.profitabilityreportline:nth-child(even) {
  background-color: rgb(245, 245, 245);
}
.profitabilityreportline:hover {
  background-color: #ddeaf9;
}
